<div class="row">
  <h1>Edit Your Question</h1>
  <p>Please modify your question, remembering to keep a respectful tone</p>

  <div class="col-md-8">
    <%= form_for @question do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :body %>
        <%= f.text_field :body %>

        <%= f.label :resolved %>
        <%= f.check_box :resolved %>
      </div>

      <div class="form-field">
        <%= f.submit 'Save', class: 'btn btn-success' %>
        <%= link_to 'Cancel', @question, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
