<div class="row">
  <h1>New Questions</h1>
  <p>Please ask relevant questions with a respectful tone</p>

  <div class="col-md-8">
    <%= form_for @question do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'Enter a question...' %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: 'Enter a body...' %>
      </div>
      <div class="form-group">
        <%= f.label :resolved %>
        <%= f.check_box :resolved %>
      </div>

      <div class="form-field">
        <%= f.submit 'Save', class: 'btn btn-success' %>
        <%= link_to 'Cancel', questions_path, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
