<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<%= params %>

<div class='container'>
  <ul class="nav nav-tabs">
    <%= link_to 'Back to Posts', posts_path, class: 'pull-right' %>
    <%= link_to 'Delete Post', @post, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
  </ul>
</div>
